.block4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.block4__color-box {
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
    text-align: left;
    min-height: 20rem;
    flex: 1;
}

.block4__color-box-titel {
    font-size: 1.5rem;
    color: #4c4744;
}

.block4__color-box--light {
    background-color: #fcf1ef;
}

.block4__color-box--medium {
    background-color: #f2c0b3;
}

.block4__color-box--dark {
    background-color: #e16f50;
}

.block4__color-box--dark h3,
.block4__color-box--dark p {
    color: #fff;
}

#instafeed {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.instafeedTarget__link {
    margin-bottom: 2rem;
}

.instafeedTarget__image{
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .block4 {
        max-width: 104rem;
        margin: 0 auto 6rem;
    }
    .block4__color-box {
        margin: 0 1rem;
        padding: 3rem;
    }
    .block4__color-box-titel {
        font-size: 2rem;
        color: #4c4744;
    }

    #instafeed {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .instafeedTarget__link {
        position: relative;
        width: calc(100% / 3);
        box-sizing: border-box;
    }

    .instafeedTarget__link:nth-child(3n-6),
    .instafeedTarget__link:nth-child(4n-8) {
        padding-left: 2rem;
    }

    .instafeedTarget__image{
        object-fit: cover;
        height: 29.9rem;
    }

    .instafeedTarget__link:nth-child(3n-6) > .instafeedTarget__caption,
    .instafeedTarget__link:nth-child(4n-8) > .instafeedTarget__caption{
        left: 2.5rem;
    }

    .instafeedTarget__caption {
        position: absolute;
        bottom: 0;
        background-color: hsla(360, 100%, 100%, 0.8);
        padding: 1.6rem 1.2rem 2.4rem 1.2rem;
        border-radius: 0.5rem;
        height: 10.6rem;
        font-family: 'Didact Gothic', sans-serif;
        font-size: 1.6rem;
        line-height: 1.38;
        text-transform: none;
        left: 0.5rem;
        right: 0.5rem;
        bottom: 1rem;
        overflow: hidden;
    }
    .instafeedTarget__text {
        color: #51463f;
    }
}

@media screen and (min-width: 768px) {
    .block4 {
        display: flex;
        flex-direction: row;
    }

    .block4__color-box {
        margin-left: 1rem;
        margin-right: 0;
        margin-bottom: 0;
    }
    .block4__color-box:first-child{
        margin-left: 0;
    }
}
