.image-block__container {
    position: relative;
}

.image-block__content {
    text-align: center;
    position: absolute;
    top: 33%;
    left: 2rem;
    right: 2rem;
    transform: translate(0%, -50%);
}

.image-block {
    background-image: url('../images/topbild.png');
    background-size: cover;
    min-height: 40rem;
    background-position: center;
}

.image-block__titel,
.image-block__text {
    font-family: 'Francois One', sans-serif;
    color: #fff;
    text-shadow: 0 0 7px rgba(76, 71, 68, 0.3);
}

.image-block__text {
    font-size: 1.8rem;
    text-shadow: 0 0 7px rgba(76, 71, 68, 0.3);
}

.image-block__titel {
    font-size: 3.6rem;
}

@media screen and (min-width: 768px) {
    .image-block {
        height: 100%;
        background-repeat: no-repeat;
        max-width: 168rem;
        height: 60rem;
        margin: 0 auto;
    }

    .image-block__content {
        top: 33%;
    }

    .image-block__titel {
        font-size: 5.4rem;
    }

    .image-block__text {
        font-size: 2rem;
        margin-top: 0rem;
    }
}

@media screen and (min-width: 1024px) {
    .image-block__titel {
        font-size: 7.2rem;
    }

    .image-block__text {
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 1440px) {}