.block2 {
    text-align: center;
    padding: 0;
}

.block2-active {
    display: block;
    margin-top: -2rem;
}

.block2-inactive {
    display: none;
}

.block2--bg {
    background-image: url('../images/block2.png');
    background-size: cover;
    background-position: center;
    padding: 6rem 2rem;
}

.block2__titel {
    font-size: 2.6rem;
    color: #fff;
}

.block2__text {
    font-size: 1.6rem;
    color: #fff;
}

.block2__content {
    padding: 3rem;
}

.block2__content-titel {
    font-family: 'Francois One', sans-serif;
    font-size: 2.6rem;
    line-height: 1.2;
}

.block2__content-text,
.block2__content-list {
    font-size: 1.6rem;
    color: #51463f;
}

.block2__titel--small {
    font-family: 'Francois One', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 0;
    margin-top: 0;
}

.block2__content {
    position: relative;
    background-color: #afd5cf;
    color: #fff;
}

.block2__content::after {
    content: ' ';
    position: absolute;
    top: -3rem;
    right: 50%;
    width: 0;
    height: 0;
    border-left: 4rem solid transparent;
    border-right: 4rem solid transparent;
    border-bottom: 4rem solid #afd5cf;
    transform: translate(50%, 0);
}

.block2__icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #51463f;
}

.block2__btn {
    width: 20rem;
    margin: 0.5rem;
}

@media screen and (min-width: 768px) {
    .block2 {
        max-width: 168rem;
        margin: 0 auto 10rem;
    }
    .block2__titel,
    .block2__content-titel {
        font-size: 3.6rem;
    }
    .block2__titel--small {
        font-size: 1.6rem;
    }
    .block2__icon {
        top: 4rem;
        right: 4rem;
    }
    .block2--bg {
        padding-top: 12rem;
        padding-bottom: 6rem;
    }
    .block2__content-text,
    .block2__content-list {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .block2__titel,
    .block2__content-titel {
        font-size: 4.2rem;
        padding: 0 20rem;
    }
    .block2__content-text,
    .block2__content-list {
        font-size: 1.6rem;
        padding: 0 20rem;
    }
}