html {
    font-size: 62.5%;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    ;
    background-color: #f7f7f7;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'Francois One', sans-serif;
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 5.4rem;
}

h2 {
    font-size: 4.2rem;
}

h3 {
    font-size: 2rem;
}

p {
    color: #4c4744;
    font-size: 1.8rem;
}

ul {
    list-style-type: none;
    margin: 0;
}

a {
    font-family: 'Francois One', sans-serif;
    font-size: 1.5rem;
    color: #3d9f90;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

a:hover,
a:focus,
a:active {
    color: #e16f50;
    text-decoration: underline;
    color: #3d9f90;
}

.active {
    display: block;
    margin-top: 5rem;
}

.inactive {
    display: none;
}

.active {
    position: relative;
}

.active::before {
    content: '';
    border: 0.3rem solid #cde3e0;
    width: 100%;
    position: absolute;
    top: -2rem;
    left: 0;
    width: 12rem;
}

.down::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 32%;
    width: 0;
    height: 0;
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-bottom: 1rem solid #3d9f90;
}

.down {
    padding-left: 2.5rem;
}

.logo {
    height: 4rem;
}

.block {
    background-color: #f8f8f8;
    margin: 0 auto;
    padding: 3rem 2rem 3rem 2rem;
}

.up::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 20%;
    width: 0;
    height: 0;
    border-top: 0.8rem solid transparent;
    border-left: 1rem solid #3d9f90;
    border-bottom: 0.8rem solid transparent;
}

.block--primary {
    background-color: #f7f7f7;
}

.block--seconday {
    background-color: #6b4040;
    color: #fff;
}

.intro__block {
    padding: 1rem;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-align-center {
    align-items: center;
}

.flex-align-self-center {
    align-self: center;
}

.flex-center {
    justify-content: center;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.space {
    margin: 2rem;
}

.top-space {
    margin-top: 2rem;
}

.right-space {
    margin-right: 2rem;
}

.left-space {
    margin-left: 2rem;
}

.bottom-space {
    margin-bottom: 1rem;
}

.inner-space {
    padding: 1rem;
}

.top-inner-space {
    padding-top: 1rem;
}

.right-inner-space {
    padding-top: 1rem;
}

.left-inner-space {
    padding-top: 1rem;
}

.bottom-inner-space {
    padding-top: 1rem;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.main-menu__toggle-btn {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 20px;
    height: 0px;
}

.main-menu__container nav.active {
    display: block;
}

.main-menu__container nav {
    display: none;
}

.main-menu__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.main-menu__link {
    display: block;
    padding: 1rem;
    text-decoration: none;
}

.btn {
    font-family: 'Francois One', sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
    padding: 1.5rem 3rem;
    border-radius: 0.2rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
}

.btn--primary {
    color: #fff;
    background-color: #3d9f90;
}

.btn--secondary {
    color: #3d9f90;
    background-color: #fff;
}

.contact {
    background-color: #363230;
}

.contact-social {
    background-color: #4c4744;
    color: #f3eae6;
    padding: 4rem;
}

.contact-social__titel {
    font-family: 'Francois One', sans-serif;
    font-size: 1.6rem;
    color: #f3eae6;
    margin-top: 0;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
}

.contact-list__item {
    color: #c8c8c8;
    font-size: 1.3rem;
    margin-right: 1rem;
}

.contact-list__link {
    position: relative;
    color: #4c4744;
    background: #fff;
    width: 4.9rem;
    height: 4.9rem;
    border-radius: 5rem;
    font-size: 2.8rem;
    transition: background-color 400ms ease-in-out;
    /* text-decoration: none; */
}

.contact-list__link:hover {
    color: #4c4744;
    background-color: #c8c8c8;
    text-decoration: none;
}

.contact-list__icon-fb {
    position: absolute;
    top: -7%;
    right: 50%;
    transform: translate(50%, 50%);
}

.contact-list__icon-mail {
    position: absolute;
    top: -10%;
    right: 50%;
    transform: translate(50%, 50%);
}

.contact-list__icon-insta {
    position: absolute;
    top: -10%;
    right: 50%;
    transform: translate(50%, 50%);
}

.oval {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #e16f50;
    max-width: 10rem;
    max-height: 10rem;
    min-width: 10rem;
    min-height: 10rem;
    border-radius: 10rem;
    padding: 2rem;
    margin: 0 auto 2rem auto;
    box-sizing: border-box;
}

.oval__text {
    font-family: 'Francois One', sans-serif;
    font-size: 1.4rem;
    color: #fff;
}

.oval::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(65deg);
    width: 0;
    height: 0;
    border-top: 3rem solid #e16f50;
    border-left: 3rem solid transparent;
}


/* ----------- Non-Retina Screens ----------- */

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2.8rem;
    }

    p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .flex-row {
        flex-wrap: nowrap;
    }
    .contact-social {
        text-align: center;
        padding: 10rem;
    }

    .oval {
        margin-right: 5rem;
    }

    .oval {
        max-width: 13rem;
        max-height: 13rem;
        min-width: 13rem;
        min-height: 13rem;
    }
    .oval__text {
        font-size: 1.8rem;
    }
    .oval::after {
        border-top: 4rem solid #e16f50;
        border-left: 4rem solid transparent;
    }
}

@media screen and (min-width: 1024px) {
    .oval {
        max-width: 16rem;
        max-height: 16rem;
        min-width: 16rem;
        min-height: 16rem;
    }
    .oval__text {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 1440px) {
    .oval {
        max-width: 20rem;
        max-height: 20rem;
        min-width: 20rem;
        min-height: 20rem;
    }
    .oval__text {
        font-size: 2.2rem;
    }
    .oval::after {
        border-top: 5rem solid #e16f50;
        border-left: 5rem solid transparent;
    }
}