html {
  font-size: 62.5%;
}
body {
  font-family: 'Didact Gothic', sans-serif;;
  background-color: #f7f7f7;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Francois One', sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 4.2rem;
}

p {
  color: #4a4a4a;
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  font-family: 'Francois One', sans-serif;
  font-size: 1.5rem;
  color:#3d9f90;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover, a:focus, a:active {
  color:#e16f50;
}

.logo {
  height: 4rem;
}

.block {
  background-color: #fcf1ef;
  margin: 0 auto;
  max-width: 1366px;
  padding: 2rem;
}

.block1 {
  position: relative;
}

.block1__content {
  background: #fff;
  padding: 2rem;

}
.block2 {
  background-image: url('http://lorempixel.com/1440/300/nature/');
}
.block2__titel {
  color:#fff;
}
.block2__titel--small {
  font-family: 'Francois One', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 0;
}
.block--primary {
  background-color: #f7f7f7;
}

.block--seconday {
  background-color: #6b4040;
  color: #fff;
}

.top {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 5rem;
  text-align: left;
}

.top__logo {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.intro__block{
  padding: 1rem;
}

.image-block {
  background-image: url('./images/Sten_Mini-Oven_500px.png');
  background-size: cover;
  background-position: top right;
  padding: 5rem;
  min-height: 15rem;
}

.image-block__image {
  width: 100%;
  max-height: 40rem;
}

.image-block__titel,
.image-block__text {
  color: #fff;
  text-shadow: 1px 1px 3px #4e4e4e;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-center {
    align-items: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.space {
  margin: 2rem;
}
.top-space {
  margin-top: 2rem;
}
.right-space {
  margin-right: 2rem;
}
.left-space {
  margin-left: 2rem;
}
.bottom-space {
  margin-bottom: 1rem;
}

.inner-space {
  padding: 1rem;
}
.top-inner-space {
  padding-top: 1rem;
}
.right-inner-space {
  padding-top: 1rem;
}
.left-inner-space {
  padding-top: 1rem;
}
.bottom-inner-space {
  padding-top: 1rem;
}

.align-left {
  text-align: left;
}
.main-menu__toggle-btn {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 0px;
}
.main-menu__container nav.active {
  display: block;
}
.main-menu__container nav {
  display: none;
}
.main-menu__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.main-menu__link {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.btn {
  font-family: 'Francois One', sans-serif;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  padding: 1.5rem 3rem;
  border-radius: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  border:0;
}
.btn--primary {
  color: #fff;
  background-color: #6abda8;
}
.btn--secondary {
  color: #6abda8;
  background-color: #fff;
}
.footer {

}
.contact {
  background-color: #3d4348;
  padding: 4rem;
}
.contact-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}
.contact-list__item {
  color: #c8c8c8;
  font-size: 0.9rem;
  margin-right: 1rem;
}
.contact-list__link {
  color: #c8c8c8;
}

.oval {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e16f50;
  max-width: 12rem;
  max-height: 12rem;
  min-width: 12rem;
  min-height: 12rem;
  padding: 2rem;
  border-radius: 8rem;
  margin: 1rem auto 2rem auto;
}
.oval__text{
  font-family: 'Francois One', sans-serif;
  font-size: 2.2rem;
  color: #fff;
}
.oval::after {
  content: ' ';
  background: #e16f50;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 5px;
  bottom: 1.8rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(9deg);
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 1000px) and (max-width: 1600px) {
    .flex-row {
      flex-wrap: nowrap;
    }

    .block {
      padding: 4rem 15rem;
    }

    .block1 {
      padding: 12rem 15rem;
    }

    .block1__content{
      position: absolute;
      top: -5rem;
      right: 4rem;
      left: 4rem;
      padding: 2rem 6rem;
    }

    .image-block {
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      min-height: 30rem;
      padding: 10rem 40rem 20rem;
    }

    .oval {
      margin-right: 2rem;
    }
}
