body {
  font-family: 'Open sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3 {
  font-family: 'Francois One', sans-serif;
  font-weight: normal;
  color: #4a4a4a;
}
p {
  color: #4a4a4a;
}

.logo {
  height: 4rem;
}

.top {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 4rem;
  text-align: left;
}

.top__logo {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.image-block {
  background-image: url('./images/CIMG1464.png');
  background-size: cover;
  height: 10rem;
  padding: 5rem;
}

.image-block__image {
  width: 100%;
  max-height: 40rem;
}

.image-block__titel {
  color: #fff;
}

.image-block__text {
  color: #fff;
}

.block {
  background-color: #f7f7f7;
  padding: 1rem;
}

.flex-rad {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.space {
  margin: 1rem;
}
.top-space {
  margin-top: 1rem;
}
.right-space {
  margin-right: 1rem;
}
.left-space {
  margin-left: 1rem;
}
.bottom-space {
  margin-bottom: 1rem;
}

.inner-space {
  padding: 1rem;
}
.top-inner-space {
  padding-top: 1rem;
}
.right-inner-space {
  padding-top: 1rem;
}
.left-inner-space {
  padding-top: 1rem;
}
.bottom-inner-space {
  padding-top: 1rem;
}

.main-menu__toggle-btn {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 0px;
}
.main-menu__container nav.active {
  display: block;
}
.main-menu__container nav {
  display: none;
}
.main-menu__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.main-menu__link {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  border:0;
}
.btn--primary {
  color: #fff;
  background-color: #6abda8;
}
.btn--secondary {
  color: #fff;
  background-color: #ffbf00;
}
