html {
  font-size: 62.5%;
}
body {
  font-family: 'Didact Gothic', sans-serif;;
  background-color: #f7f7f7;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Francois One', sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 5.4rem;
}
h2 {
  font-size: 4.2rem;
}
h3 {
  font-size: 2rem;
}
p {
  color: #4c4744;
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  font-family: 'Francois One', sans-serif;
  font-size: 1.5rem;
  color:#3d9f90;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

a:hover, a:focus, a:active {
  color:#e16f50;
  text-decoration: underline;
  color:#3d9f90;
}

.active {
  display: block
}
.inactive {
  display: none;
}
.active {
  position: relative;
}
.active::before {
  content: '';
  border: 0.3rem solid #cde3e0;
  width: 100%;
  position: absolute;
  top:-2rem;
  left: 0;
  width: 12rem;
}
.icon-down::before {
  content: ' ';
  position: absolute;
  left: 0;
  top:32%;
  width: 0;
  height: 0;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-top: 1rem solid #3d9f90 ;
}
.icon-down {
  padding-left: 2.5rem;
}
.logo {
  height: 4rem;
}

.block {
  background-color: #f8f8f8;
  margin: 0 auto;
  padding: 2rem;
}

.block1 {
  position: relative;
  background-color: #fff;
}
.block1__ingress {
  text-align: left;
  margin-bottom: 5rem;
}
.block1__text {
  margin-top: 0;
}
.block1__text--small {
  font-size: 1.4rem;
  text-align: left;
}
.block1__content {
  background: #fff;
}
.block1__link {
  position: relative;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
}

.icon-up::before {
  content: ' ';
  position: absolute;
  left: 0;
  top:20%;
  width: 0;
  height: 0;
  border-top: 0.8rem solid transparent;
  border-left: 1rem solid #3d9f90;
  border-bottom: 0.8rem solid transparent;
}

.block2--bg {
  background-image: url('./images/jord_cropped_filter.jpg');
  background-size: cover;
  background-position: center;
}
.block2__titel{
  font-size: 2.6rem;
  color: #fff;
}
.block2__text{
  font-size: 1.4rem;
  color: #fff;
}
.block2__content-titel{
  font-size: 2.6rem;
}
.block2__content-text {
  font-size: 1.4rem;
  color:#51463f;
}
.block2__titel--small {
  font-family: 'Francois One', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0;
}
.block2__content {
  position: relative;
  background-color: #afd5cf;
  color: #fff;
}
.block2__content::before{
  content: ' ';
  position: absolute;
  top: -1.4rem;
  right: 50%;
  width: 3rem;
  height: 3rem;
  background: #afd5cf;
  transform: rotate(45deg);
}
.block2__icon{
  position: absolute;
  top:1rem;
  right:1rem;
  color:#fff;
}
.block2__btn{
  width: 20rem;
  margin: 1rem;
}

.block3 {
  background-color: #f8f8f8;
  justify-content: center;
}

.block3__content{
  background-color: #fff;
  /* margin: 2rem; */
  padding: 2rem;
}
.block3__text-container {
  text-align: left;
  margin-bottom: 5rem;
}
.block3__teaser {
  justify-content: center;
  margin-bottom: 1rem;
}
.block3__titel-text{
  font-family: 'Francois One', sans-serif;
  font-size: 1.4rem;
  color: #7e7671;
  margin-bottom: 0;
}
.block3__titel {
  font-size: 2.6rem;
  color: #51463f;
}
.block3__image {
  background-color: #f2c0b3;
  max-width: 20rem;
  max-height: 20rem;
  min-width: 20rem;
  min-height: 20rem;
  padding: 2rem;
  border-radius: 12rem;
}
.block3__text{
  text-align: left;
  color: #51463f
}

.block3__ingress{
  text-align: left;
}

.block4__color-box {
  background-color:#fff;
  border-radius: 1rem;
  padding: 4rem;
  margin: 1rem 0;
}
.block4__color-box-titel{
  color: #4c4744;
}
.block4__color-box--light {
 background-color: #fcf1ef;
}
.block4__color-box--medium {
 background-color: #f2c0b3;
}
.block4__color-box--dark {
 background-color: #e16f50;
}
.block4__color-box--dark h3,
.block4__color-box--dark p {
   color:#fff;
}
.block--primary {
  background-color: #f7f7f7;
}

.block--seconday {
  background-color: #6b4040;
  color: #fff;
}

.top {
  position: absolute;
  width: 100%;
  height: 5rem;
  text-align: left;
}

.top__logo {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.intro__block{
  padding: 1rem;
}
.image-block__container{
  position: relative;
}
.image-block__content{
  position: absolute;
  top: 30%;
  left: 1rem;
  right: 1rem;
  transform: translate(0%, -50%);
}
.image-block {
  background-image: url('./images/sten_cropped_filter.jpg');
  background-size: cover;
  min-height: 40rem;
  background-position: center;
}

/*.image-block__image {
  width: 100%;
  max-height: 40rem;
}*/

.image-block__titel,
.image-block__text {
  font-family: 'Francois One', sans-serif;
  color: #fff;
  text-shadow: 0 0 7px rgba(76, 71, 68, 0.3);
}
.image-block__text{
  font-size: 1.8rem;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-center {
    align-items: center;
}
.flex-align-self-center {
  align-self: center;
}
.flex-center {
  justify-content: center;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.space {
  margin: 2rem;
}
.top-space {
  margin-top: 2rem;
}
.right-space {
  margin-right: 2rem;
}
.left-space {
  margin-left: 2rem;
}
.bottom-space {
  margin-bottom: 1rem;
}

.inner-space {
  padding: 1rem;
}
.top-inner-space {
  padding-top: 1rem;
}
.right-inner-space {
  padding-top: 1rem;
}
.left-inner-space {
  padding-top: 1rem;
}
.bottom-inner-space {
  padding-top: 1rem;
}
.align-center {
 text-align: center;
}
.align-left {
  text-align: left;
}
.main-menu__toggle-btn {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 0px;
}
.main-menu__container nav.active {
  display: block;
}
.main-menu__container nav {
  display: none;
}
.main-menu__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.main-menu__link {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.btn {
  font-family: 'Francois One', sans-serif;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  padding: 1.5rem 3rem;
  border-radius: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  border:0;
}
.btn--primary {
  color: #fff;
  background-color: #6abda8;
}
.btn--secondary {
  color: #6abda8;
  background-color: #fff;
}
.contact {
  background-color: #363230;
}
.contact-social {
  background-color: #4c4744;
  color: #f3eae6;
}
.contact-social__titel{
  font-family: 'Francois One', sans-serif;
  color: #f3eae6;
}
.contact-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}
.contact-list__item {
  color: #c8c8c8;
  font-size: 1.3rem;
  margin-right: 1rem;
}
.contact-list__link {
  color: #c8c8c8;
}

.oval {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e16f50;
  max-width: 20rem;
  max-height: 20rem;
  min-width: 20rem;
  min-height: 20rem;
  padding: 2rem;
  border-radius: 12rem;
  margin: 1rem auto 2rem auto;
  box-sizing: border-box;
}
.oval__text{
  font-family: 'Francois One', sans-serif;
  font-size: 2.2rem;
  color: #fff;
}
.oval::after {
  content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(70deg);
    width: 0;
    height: 0;
    border-top: 5rem solid #e16f50;
    border-left: 5rem solid transparent;
}
/* ----------- Non-Retina Screens ----------- */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.5rem;
  }
}

@media only screen
  and (min-width: 480px)
  and (max-width: 768px) {

}

@media screen
  and (min-width: 1024px) {

    .flex-row {
      flex-wrap: nowrap;
    }

    .block1 {
      max-width: 104rem;
      margin: 0 auto;
      background-color: #f8f8f8;
    }

    .block1__content{
      padding: 4.5rem 9rem;
      margin-top: -10rem;
      border-radius: 0.5rem 0.5rem 0;
    }
    .block1__ingress-text{
      font-size: 2rem;
      line-height: 2.6rem;
    }
    .block1__text--small {
      font-size: 1.6rem;
      line-height: 2.2rem;
      margin-top: 1rem;
      text-align: left;
    }

    .block2 {
      padding-top: 12rem;
      padding-bottom: 6rem;
    }
    .block2__icon{
      top:4rem;
      right:4rem;
    }
    .block3 {
      max-width: 124rem;
      margin: 0 auto;
      background-color: #f8f8f8;
    }
    .block3__content{
      background-color: #fff;
      padding: 9rem 19em;
    }
    .block3__titel{
      font-size: 4.2rem;
    }
    .block3__ingress {
      text-align: left;
      font-size: 2rem;
      line-height: 2.6rem;
      margin-top: 0rem;
    }

    .block3__text{
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
    .block3__image-container{
      order:2;
    }
    .block3__text-container {
      order:1;
    }
    .block4__color-box{
      margin:0 1rem;
    }

    .image-block {
      max-width: 144rem;
      height: 60rem;
      margin: 0 auto;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .image-block__text{
      font-size: 2.2rem;
    }
    .oval {
      margin-right: 5rem;
    }
}
