.top-block {
    position: relative;
}

.top-block__image {
    background-image: url('../../images/project-default-image.png');
    background-size: cover;
    min-height: 40rem;
    background-position: center;
}

.top-block__content {
    text-align: center;
    position: absolute;
    top: 33%;
    left: 2rem;
    right: 2rem;
}

.top-block__image::before {
    content: ' ';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}
.top-block__titel,
.top-block__text {
    font-family: 'Francois One', sans-serif;
    color: #fff;
    text-shadow: 0 0 7px rgba(76, 71, 68, 0.3);
}

.top-block__text {
    font-size: 1.8rem;
    text-shadow: 0 0 7px rgba(76, 71, 68, 0.3);
}

.top-block__titel {
    font-size: 3.6rem;
}

@media screen and (min-width: 768px) {
    .top-block__image {
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        max-width: 168rem;
        height: 60rem;
        margin: 0 auto;
    }

    .top-block__titel {
        font-size: 5.4rem;
    }

    .top-block__text {
        font-size: 2rem;
        margin-top: 0rem;
    }
}

@media screen and (min-width: 1024px) {

    .top-block__content {
        text-align: left;
        top: 40%;
        left: 20rem;
        right: 2rem;
    }

    .top-block__titel {
        font-size: 7.2rem;
        line-height: 1;
        width:35%;
        margin-bottom: 2rem;
    }

    .top-block__text {
        font-size: 2.4rem;
        width: 50%;
    }
}