.top {
    position: relative;
    max-width: 168rem;
    margin: 0 auto;
    box-sizing: border-box;
   
}

.top__container {
    position: absolute;
    z-index: 1;
    padding: 2rem;
    box-sizing: border-box;
    width: 100%
}

.top__logo--mobile {
   width: 4rem;
}

.top__logo--rest{
    display: none;
}

@media screen and (min-width: 768px) {
    .top__container {
        padding: 0 10rem;
    }

    .top__logo--rest {
        display: block;
        width: 16rem;
    }

    .top__logo--mobile {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1440px) {}